<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
	<img alt="Logo" src="/assets/logo.png" />
      </a>
    </div>
    
    <div class="header-actions">
      <a href="#">scott@inspiredo.com</a> | <a href="/sign_out">Sign Out</a>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-content">
    <div class="dashboard-container">
      <div class="students-pane">
	<strong>Students</strong>
	<ul class="student-list">
	  {{#each}}
	  {{#link-to 'student' this}}<li>{{name}}</li>{{/link-to}}
	  {{/each}}
	  {{#link-to 'dashboard.add_student' }}{{add-item addType='student'}}{{/link-to}}
	</ul>
      </div>


      <div class="student-dashboard">
	{{outlet}}
      </div>
    </div>

  </div>
</div>

<div class="footer">

  <span class="contact">
    <small>Contact us at <a href="mailto:erik@inspiredo.com">erik@inspiredo.com</a></small>
  </span>
</div>

{{outlet modal}}
