<div class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
	<img alt="Logo" src="/assets/logo.png" />
      </a>
    </div>
    
    <div class="header-actions">
      <a href="/sign_in">Login</a> | <a href="/sign_up">Sign Up</a>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-content">
    <div class="promo-title">
      <h1>Inspire your child<br>to succeed</h1>
    </div>

    <div class="promo-text">
      <p>inspireDo gives you, as a parent, the tools to help your child on a path to sucess</p>
    </div>

    <div class="promo-sign-up">
      <a class="button" href="/sign_up">Sign up now</a><br>
      <a class="button" href="/learn">Learn more</a><br>
      <small><a href="/student_learn">Not a parent?</a></small>
    </div>

    <div class="promo-image">
      <img alt="Iphone" class="promo-image" src="/assets/iphone.png" />
    </div>

  </div>
</div>

<div class="footer">

  <span class="contact">
    <small>Contact us at <a href="mailto:erik@inspiredo.com">erik@inspiredo.com</a></small>
  </span>
<div>
