<strong class="name">{{name}}</strong>
	<div class="dashboard">
	  <ul class="feed">
	    <strong>Recent Activity</strong>
	    {{#each recent}}
	    <li>{{title}} - <small>{{format-date date}}</small></li>
	    {{/each}}
	  </ul>

	  <div class="contracts">
	    <ul class="contracts-list">
	      <strong>Contracts</strong>
	      {{#each contracts}}
	      
	      {{view App.ContractView}}
		  
	      {{/each}}     

	      <li class="contract add collapsed"><span>
		  Add Contract
		</span>
	      </li>
	    </ul>
	  </div>
	  
	</div>
